<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../angular-color-picker.css">
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../angular-color-picker.js"></script>
    <script src="./main.js"></script>
</head>
<body ng-controller="mainController" ng-init="init()">
    color picker
    <div color-picker ng-model="color" recent="recent"></div>
    <input type="text" ng-model="color" />
</body>
</html>
